.ad-content {
    display: flex;
    position: relative;

}

.ad-content-item {
    flex: 1;
    padding: 0 10px;
}

.ad_header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}

.ad_find-container {
    display: flex;
    align-items: center;
}

.ad_find-input {
    border: 1px solid var(--primary-color-ad);
    border-radius: 14px;
    padding: 4px 10px;
    outline: none;
    margin: 0 7px;
}

.ad_find-input:focus {
    box-shadow: 0 1px 5px var(--primary-color-ad);
}

.ad_find-btn {
    margin: 0 7px;
    font-size: 10px;
    padding: 4px 7px;
    border-radius: 10px;
    background-color: var(--primary-color-ad);
}

.ad_find-btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

.ad_func-container {
    display: flex;
    align-items: center;
}

.ad_func-btn {
    font-size: 14px;
    padding: 4px 10px;
    background-color: var(--primary-color-ad);
    border-radius: 4px;
}

.ad_func-btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

.employee-showing {
    margin-top: 20px;
    position: relative;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.employee-showing-item {
    display: flex;
    flex: 1;
    /*justify-content: ;*/
    padding: 20px;
}

.employee-img {
    width: 100%;
}

.employee_info {
    font-size: 14px;
    line-height: 1.5;
}

.employee_info-buying {
    font-size: 14px;
    line-height: 1.5;
}

.em_total-pay {
    font-weight: 500;
    color: var(--primary-color-ad);
}

.history-title {
    font-size: 10px;
}

.order-item-container {
    display: flex;
    padding: 10px;
    background-color: #cccccc;
    margin: 5px 0;
    font-size: 12px;
    border-radius: 4px;

}

.order-price,
.order-info {
    margin: 0 20px;
}

.order-payed-price {
    font-weight: 500;
}

/* controller*/
.employee-control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}


.ad_btn-control {
    padding: 4px 7px;
    border-radius: 4px;
    background-color: var(--primary-color-ad);
    font-size: 14px;
}

.ad_btn-control:hover {
    opacity: 0.3;
    cursor: pointer;
}


/* cap nhat thong tin */
.form-container {
    margin: 0 auto;
    width: 50%;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-item {
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color-ad);
    padding: 4px 7px;
    font-size: 14px;
}

.input-item:focus {
    box-shadow: 0 1px 5px var(--primary-color-ad);

}

.em-name-img {
    display: flex;
    /*align-items: end;*/
    justify-content: space-between;
}

.btn-add-em-img {
    /*margin-bottom: 10px;*/

}

.w70 {
    width: 70%;
}

.t70 {
    top:70px
}

.add-img-box.active,
.confirm-stop.active {
    display: block;
}

.add-img-btn {
    background-color: var(--primary-color-ad);
    color: white;
}

.show-flex-row {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}



.img-container img {
    width: 100%;
}

.info-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 20px;

}

.info-container__title {
    width: 40%;
    margin-right: 10px;
    font-weight: 700;
}

.info-container__content {
    width:60%;
    padding: 4px 20px;
}

.modal__emplpoyee-detail {
    position: fixed;
    top: 75px;
    left: 30%;
    background-color: var(--white-color);
    border-radius: 4px;
    border: none;
    width: 50%;
    padding: 20px;
}

table tbody tr:hover {
    cursor: pointer;
    border: 2px solid #C6CBFB;
    box-shadow: 0 2px 5px #C6CBFB;
}
