.separate-vertical-ad {
    border: 1px solid var(--primary-color-ad);
    text-align: center;
}

.disabled-showing {
    position: absolute;
    font-weight: 600;
    font-size: 90px;
    color: rgba(234, 60, 60, 0.84);
    top: 10px;
    /* left: 0; */
    right: 0;
    bottom: 0;
    transform: rotate(337deg);
    display: none;
}

.disabled-showing.active {
    display: block;
}

.confirm-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

}

.confirm-ban.active {
    display: block;
}

.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138, 160, 229, 0.31);
}

.modal__confirm-content {
    background-color: var(--white-color);
    border-radius: 4px;
    border: none;
    width: 40%;
    padding: 20px;

}

.confirm__message {
    font-size: 14px;
}

.confirm__control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirm-btn {
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary-color-ad);
}

.confirm-btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

.yes-confirm {
    background-color: var(--primary-color-ad);
    color: var(--white-color);
}

.sidebar-nav .nav-link.active {
    color: #4154f1;
    background: #f6f9ff;
}


/* employee */

