
:root {
    --primary-color: #00A6CF;
    /*--primary-color: rgba(21, 159, 135, 0.71);*/
    --secondary-color: #C6CBFB;
    --white-color: #f6f6f6;
    --black-color: #000;
    --text-color: #333;

    /*--header-height: 120px;*/
    /*--navbar-height: 34px;*/
    /*--header-with-search-height: calc(var(--header-height) - var(--navbar-height));*/
}

ul, ol {
    padding: 0;
    margin: 0;
}

.ad__header{
    background-color: var(--primary-color);
}

.ad__header h1 {
    margin: 10px 0 10px 40px;
    display: inline-block;
    font-size: 30px;
    padding: 10px 10px;
}

.ad__header h1:hover {
    cursor: pointer;
}

/* content*/
.content {
    margin-top: 40px;
}

/* nav */
.ad__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    /*margin-left: 10px;*/
    padding: 10px 0;
    height: 100vh;
    border-radius: 4px;
}

.ad__nav-title {
    font-size: 20px;
}

.ad__nav-title {
    font-size:20px;
    padding: 5px 10px;

}

.ad__nav-list {

    margin-top: 20px;
    text-align: center;
}

.ad__nav-item {
    position: relative;
    list-style: none;
    margin: 0 0 20px;

}

.ad__nav-item:after {
    position: absolute;
    content: "";
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--white-color);
    border-bottom: 1px solid var(--white-color);
    bottom: -10px;
    left: 0;
    right: 0;

}

.ad__nav-item a {
    font-size: 17px;
    color: white;
    color: var(--white-color);
    text-decoration: none;
    padding: 5px 10px;
}

.ad__nav-item:hover {
    /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);*/
    transform: translateX(4px);
}

.ad__nav-item:hover:after {
    transform: translateX(-4px);

}

.seperate-horizontal {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid var(--primary-color);

}


/* ad-content */
.ad-content {
    padding: 10px;
    /*!*background-color: blue;*!*/
    /*background-color: #f1f1f1;*/
    border: 1px solid var(--primary-color);
    border-radius: 4px;

    background-color: #0FA187;
}

.temp {
    height: 100vh;
}

.temp p {
    font-size: 40px;
    color: #eee;
    padding: 20px;
    text-align: center;
}
