.ad-content {
    position: relative;
    margin-top: 20px;
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    padding: 20px;
}

.ad-content-item {
    flex: 1;
    padding: 0 10px;
}

.ad_header {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}

.ad_find-container {
    display: flex;
    align-items: center;
    border: 1px solid #4154F1;
    border-radius: 20px;
    padding: 2px 6px;
    width: 32%;
}

.ad_find-input {

    border-radius: 14px;
    padding: 4px 10px;
    outline: none;
    margin: 0 7px;
    border: none;
    /* border-radius: 14px; */
    width: 100%;
    display: block;
}

.ad_find-container:focus {
    box-shadow: 0 1px 5px #4154F1;
}

.ad_find-btn {
    margin: 0 7px;
    border-radius: 10px;
    color: #4154F1;
    padding: 4px;
    font-size: 15px;
    border: none;
    background-color: white;


}

.ad_find-btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

.ad_func-container {
    display: flex;
    align-items: center;
}

.ad_func-btn {
    font-size: 14px;
    padding: 4px 10px;
    background-color: var(--primary-color-ad);
    border-radius: 4px;
    color: var(--white-color);

}

.ad_func-btn:hover {
    opacity: 0.3;
    cursor: pointer;
}

.customer-showing {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.customer-showing-item {
    display: flex;
    flex: 1;
    /*justify-content: ;*/
    padding: 20px;
}

.customer_info {
    font-size: 14px;
    line-height: 1.5;
}

.customer_info-buying {
    font-size: 14px;
    line-height: 1.5;
}

.cus_total-pay {
    font-weight: 500;
    color: var(--primary-color-ad);
}

.history-title {
    font-size: 10px;
}

.order-item-container {
    display: flex;
    padding: 10px;
    background-color: #cccccc;
    margin: 5px 0;
    font-size: 12px;
    border-radius: 4px;

}

.order-price,
.order-info {
    margin: 0 20px;
}

.order-payed-price {
    font-weight: 500;
}

/* controller*/
.customer-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.ad_btn-control {
    padding: 4px 7px;
    border-radius: 4px;
    background-color: #4154F1;
    font-size: 14px;
    color: var(--white-color);
}

.ad_btn-control:hover {
    opacity: 0.3;
    cursor: pointer;
}

.ad_func-save-btn {
    display: none;
}

.table {
    display: table-cell;
    vertical-align: middle;
}

.ad_func-save-btn.active {
    display: block;
}


/* cap nhat thong tin */
.form-container {
    margin: 0 auto;
    width: 50%;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.input-item {
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color-ad);
    padding: 4px 7px;
    font-size: 14px;
}

.input-item:focus {
    box-shadow: 0 1px 5px var(--primary-color-ad);

}

.ad-bg-color {
    background-color: var(--primary-color-ad);
}

