body {
    /*background-color: #e5e8ff;*/
}

.cart__container {
    /*width: 90%;*/
    padding: 20px;
    margin: auto;
    /*background-color: #e5e8ff;*/
}

.title {
    text-align: center;
}

.product-qty-buying {
    width: 50%;
    padding: 10px;

}

.product-qty-control {
    display: flex;
    justify-content: center;
}

.product-qty-control i {
    padding: 4px;
    margin: 0 4px;
    font-size: 17px;
    /*border: 1px solid #bebebe;*/
    background-color: #C6CBFB;
    border-radius: 4px;
    border: none;
}

.asking-btn:hover,
.add-to-cart-btn:hover,
.product-qty-control i:hover {
    opacity: 0.4;
    cursor: pointer;
}

.product-qty-input {
    font-size: 17px;
    margin: 0 7px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    border: none;

}

.table {
    width: 100%;
    margin-top: 40px;
}

table, th, td{
    /*border-top:1px solid #ccc;*/
    border-bottom:1px solid #e5e8ff;
    padding: 10px;

}

table{
    border-collapse:collapse;
}

.table tr {
    margin: 10px 10px;
    box-shadow: 0px 0px 14px 0px #e5e8ff;
}

.table td {
    text-align: center;
}



.roww th,
.roww td {
    background-color: #fcf7f7;
    padding: 6px;
    border: none;
}

.money {
    background-color: white;
    box-shadow: 0px 0px 14px 0px #e5e8ff;
    padding: 0 20px;


}

.money h2 {
    margin-bottom: 80px;
}

.totalMoney {
    font-size: 20px;
}

.btn-buy {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
    border: none;
}

.btn-buy:hover {
    opacity: 0.3;
    cursor: pointer;
}

.money p {
    margin-top: 20px;
}

.delete {
    padding: 10px;

}

.delete:hover {
    background-color: #C6CBFB;
    opacity: 0.3;
    border-radius: 6px;
}