* {
    margin: 0;
    padding: 0;
}

.ad_content {
    padding: 20px;
    margin-top: 125px;
}

.seperate-horizontal-linear {
    border: 1px solid #0d6efd;
    margin-top: 20px;
    margin-bottom: 20px;


}



.info-container {
    padding: 20px;
    box-shadow: 0px 0px 14px 0px #bcc2f5;
    background-color: white;
    margin-bottom: 20px;
}

.show-flex-row {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.info-item {
    width: 70%;
    margin-top: 10px;
}

.info-item span {
    display: inline-block;
    width: 33.3%;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width:70%;
}

.payment-container {
    padding: 10px;
}

.payment-content .show-flex-row {
    margin: 15px 0;
}

.center {
    justify-content: center;
}

.txt-color {
    color: #cccccc;
}

.total-money {
    font-size: 25px;
    color: #0d6efd;
}

.note {
    font-size: 12px;
    font-style: italic;
    color: #5d94ee;
}

.sub-nav {
    position: absolute;
    list-style-type: none;
    background-color: rgba(167, 180, 232, 1);
    padding: 10px;
    left: 20px;
    border-radius: 4px;
    display: none;
}

.sub-nav.active {
    display: block;
}

.sub-nav li a {
    text-decoration: none;
}

.sub-nav li:hover {
    opacity: 0.3;
}

.editBtn {
    padding: 4px;
}

.editBtn:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}

.input-address-info.unactive {
    border: none;
}

.input-address-info.unactive:focus {
    outline: none;
    border: none;
}

#changeAddress {
    text-decoration: underline;
    color: #0d6efd;
}

#changeAddress:hover {
    cursor: pointer;
    opacity: 0.3;
}

.address-item {
    border-radius: 4px;
}

.address-item:hover {
    background-color: #d4daea;
}

.address-item.active:hover {
    background-color: white;
}

