:root {
    --primary-color: #159f87;
    --secondary-color: #1fd9b8;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

    /*--header-height: 120px;*/
    /*--navbar-height: 34px;*/
    /*--header-with-search-height: calc(var(--header-height) - var(--navbar-height));*/
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html {
    /* font-size 100% = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    min-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /* height: 100%; */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.grid-col-1 {
    width: 8.33%;
    padding: 10px 5px 0;
}

.grid-col-2 {
    width: 16.66%;
    padding: 0 10px;
}

.grid-col-3 {
    width: 25%;
    padding: 10px 10px 0;
}


.grid-col-4 {

}

.grid-col-9 {
    width:75%;
    padding: 10px 10px 0;
}

.grid-col-10 {
    width: 83.33%;
    padding: 0 10px;
}

.m0 {
    margin: 0;
}

.mt10 {
    margin-top: 10px;
}

.separate-vertical {
    /*height: 90%;*/
    border: 1px solid var(--primary-color);
    text-align: center;
}

.seperate-horizontal-90 {
    width: 90%;
    border: 1px solid var(--primary-color);
    text-align: center;
}

.mtb-5px {
    margin: 5px 0;
}

.show-flex-row {
    display: flex;
    justify-content: space-between;
}



