*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    color: #f6f6f6;

}

/*
    Phần Header
*/

#header{
    height: 110px;
    background-color: #0FA187;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .head .search-text{
    display: flex;
}
.head .search-text > input{
    padding: 10px 150px 10px 15px;
    border-radius: 10px;
    border: 2px solid #f6f6f6;
    margin: 10px;
}

.head  button{
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    margin-top: 13px;

}
#header .head .shopping-cart{
    margin-right: -125px;
}

#header .head .shopping-cart a{
    text-decoration: none;
    color: #f6f6f6;
    font-size: 22px;
}

#header .head .user a{
    text-decoration: none;
    color: #000;
}

#header .subnav{
    list-style-type: none;
}
#nav{
    float: right;
    padding-right: 50px;
}

.nav > li{
    display: inline-block;
}

.nav li{
    position: relative;
}

.nav > li > a{
    color: #000000;
    text-transform: uppercase;
}

.nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
.nav li:hover .subnav{
    display: block;
}

.nav .subnav li:hover a,
.nav > li:hover > a{
    color: #f6f6f6;
}

.nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #0FA187;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav a{
    list-style-type: none;
    color: #000;
}


/*
    Phần footer
 */


