*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

.pad-10{
    padding: 10px;
}
.pad-10 > a{
    margin-bottom: 10px;
    color: #f6f6f6;
}

.dis-flex{
    display: flex;
    flex-direction: column;
}

.color-f6{
    color: #f6f6f6;
}

/*
    Phần Header
*/

#header{
    height: 110px;
    background-color: #0FA187;
    position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .head .search-text{
    display: flex;
}
.head .search-text > input{
    padding: 10px 150px 10px 15px;
    border-radius: 20px;
    border: 2px solid #f6f6f6;
    margin: 10px;
}

.head  button{
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    border: 2px;
    border-radius: 15px;
    margin-top: 13px;

}
#header .head .shopping-cart{
    margin-right: -125px;
}

#header .head .shopping-cart a{
    font-size: 20px;
}

#header .head  a{
    text-decoration: none;
    color: #f6f6f6;
}

#header .head .user a:hover{
    color: #000000;
    box-shadow: 0 1px #000000;
}

#header .subnav{
    list-style-type: none;
}
#nav{
    float: right;
    padding-right: 50px;
    font-weight: bold;
}

.nav > li{
    display: inline-block;
}

.nav li{
    position: relative;
}

.nav > li > a{
    color: #f6f6f6;
    text-transform: uppercase;
}

.nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
.nav li:hover .subnav{
    display: block;
}

.nav .subnav li:hover a,
.nav > li:hover > a{
    color: #000000;
}

.nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 160px;
    font-size: 15px;
    background-color: #0FA187;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav .subnav a{
    list-style-type: none;
    color: #f6f6f6;
}


/*
    Phần footer
 */
#footer{
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0FA187;
    color: #f6f6f6;
    font-size: 15px;
    height: 250px;
}
#footer  a{
    text-decoration: none;
}

#footer .branchCty .branch{
    padding: 5px;
}

