body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 24px;
    background-color: #0FA187;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}

#main-container {
    margin: 50px auto;
    width: 900px;
    /*background-color: #F6F6F6;*/
    padding: 40px 200px;
    border: 1px solid #fff;
    border-radius: 16px
}

.form-check-label {
    font-size: 20px;
}

#passwordHelp {
    text-align: right;
    font-size: 14px;
    font-style: italic;
}

#passwordHelp a {
    color: #F6F6F6;
    text-decoration: none;
}

#submitLogin {
    background-color: #ED1212;
    color: #F6F6F6;
}

.separate {
    margin: 16px 20px;
}

.line {
    width: 180px;
    float: left;
}

.or {
    font-size: 14px;
    font-style: italic;
    float: left;
    margin: 6px 20px;
}

.already {
    font-size: 16px;
    text-align: center;
    margin-top: 20px
}

.log {
    margin-left: 16px;
    color: #F6F6F6;
}

.social {
    text-align: center;
    border-radius: 6px;
    margin-bottom: 16px;
}