.list-news {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    background-color: #ffffff;
}

.list-news >p{
    margin: 10px 20px;
    font-size: 17px;
}