
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #222;
  font: 400 15px arial;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
}

.thumb {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 2rem 0;
  padding: 5px;
}

img {
  border: 0;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}

.content {
  background-color: #fff;
  padding: 10px;
}

.row-col {
}

.thumb .img {
  width: 235px;
  height: 141px;
  float: left;
  margin: 0px 15px 10px 0;
}

.contention > a {
  color: black !important;
}

/*Button cập nhật*/
.btn-row-col {
  position: absolute;
  top: 100px;
  right: 30px;
}

.btn-row-col .btns .button {
  padding: 5px;
  border-radius: 5px;

}

/* Modal khi nhấn nút Buy Tickets */
.update {
  position: fixed;
  left: 200px;
  right: 0;
  top: 50px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.update.open {
  display: flex;
}

.update .update-container {
  background-color: #fff;
  width: 500px;
  min-height: 200px;
  max-width: calc(100% - 32px);
  position: relative;
  animation: updateFadeIn ease .65s;
}

.update .update-header {
  background: #009688;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.update-heading-icon {
  margin-right: 15px;
}

.update-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.update-close:hover {
  background-color: #fff;
  color: #000;
}

.update-body {
  padding: 16px;
}

.update-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.update-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#update-tickets {
  background: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
}

@keyframes updateFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}
