.contents{
    width: 75%;
    margin: 20px 20px;
    padding: 10px;
    float: right;
    background-color: #0FA187;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.branch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bra-name > span{
    font-size: 17px;
    font-weight: 600;
    color: #f6f6f6;
    margin-left: 10px;
}

.btns{
    display: flex;
    flex-direction: column;
}

.btns > button{
    padding: 5px;
    margin: 10px;
}