.contents{
    width: 75%;
    margin: 20px 20px;
    padding: 10px;
    float: right;
    background-color: #0FA187;
}

.contents .btns{
    display: flex;
    justify-content: space-between;
}

.contents .btns .btn {
    margin: 10px 13px;
    background-color: #f6f6f6;
}

.contents .btns .btn > button{
    padding: 5px;
}

.content{
    height: 300px;
}

.content .container .image{
    width: 30%;
    float: left;
    margin: 0px 10px 10px 3px;
}

.content .container .image > img{
    padding: 10px;
}

.content .container .cont{
    float: right;
    width: 65%;
}

.cont .b1{
    margin-left: 15px;
    padding: 10px;
}