.hei-300{
  height: auto;
}

.contents{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.contents .btns .btn > button{
    padding: 5px;
}

.content-1{
    height: 100%;
    margin-top: 20px;
}

.content-1 .container .image{
    width: 30%;
    float: left;
}

.content-1 .container .image > img{
    padding: 10px;
    width: 100px;
    height: 100px;
}

.content-1 .container .cont{
    float: right;
    width: 70%;
}

.content-1 .container .cont > span{
    font-weight: 500;
}

.cont .b1{
    margin-left: 15px;
    padding: 10px;
}

.btn-search .search-bar{
  position: relative;
  top: 0px;
  left: -70%;
}

.btn-search .search-form{
  display: flex;
  flex-direction: row-reverse;
}