*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
    color: #000000;

}

.dh{
    color: black;
}

.hei-300{
    height: 300px;
}

.sp{
    font-size: 15px;
    font-weight: 600;
}

#header{
    background-color: #0FA187;
    height: 110px;
    text-align: left;
    margin: auto;
}

.menu{
    float: left;
    margin: 20px 0px 20px 20px;
    background-color: #0FA187;
    padding: 26px;
    width: 20%;
}

.menu .lists{
    padding: 10px;
}

.menu .lists > a{
    list-style-type: none;
    text-decoration: none;
    color: #f6f6f6;
}
