.ad_container {
    padding: 10px;
}

.ad-content {
    position: relative;
}

.pro-img-cont {
    width: 100%;
}

.pro-img-item {
    width: 100%;
    border: 1px solid var(--primary-color-ad);
    padding: 4px;
    border-radius: 4px;
}

.pro-img-item:hover {
    cursor: pointer;
}

.btn-add-pro-img {
    font-size: 14px;
    background-color: #cccccc;
    padding: 7px;
    border-radius: 4px;
}

.btn-add-pro-img:hover {
    opacity: 0.3;
    cursor: pointer;
}

.pro-info {
    font-size: 14px;
}

.ad_func-add-btn {
    display: none;
}

.ad_func-add-btn.active {
    display: block;
}

.pro-showing {
    position: relative;
}

.t70 {
    top: 70px;
}

.l140 {
    left: 140px;
}


.add-img-box.active,
.confirm-resale.active,
.confirm-stop.active {
    display: block;
}

.add-img-btn,
.yes-resale-confirm {
    background-color: var(--primary-color-ad);
    color: white;
}
