
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  font-family: Helvetica, Arial, sans-serif;
}

.pad-10{
  padding: 10px;
}
.pad-10 > a{
  margin-bottom: 10px;
  color: #f6f6f6;
}

.dis-flex{
  display: flex;
  flex-direction: column;
}


.color-f6 {
  color: #f6f6f6;
}

/*
    Phần Header
*/

@media (max-width: 740px) {

  #header{
    width:100%;
  }

  .head .search-text .btn-search {
    width: 0%;
  }
  .head {
    display: flex;
  }
  #footer{

  }
}

#header {
  height: 110px;
  background-color: #0FA187;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head .search-text  input {
  padding: 10px 50% 10px 10%;
  border-radius: 30px;
  border: 2px solid #f6f6f6;
  margin: 10px;
}

.head .search-text .btn-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head button {
  background-color: #fff;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-weight: 700;
  border: 2px;
  border-radius: 30px;
  margin-top: 13px;
  padding: 10px;
  margin-right: -5px;
  cursor: pointer;
}

#header .head .shopping-cart{
  margin-right: -125px;
}

#header .head .shopping-cart a{
  font-size: 20px;
}

#header .head .shopping-cart a {
  font-size: 20px;
}

#header .head a {
  text-decoration: none;
  color: #f6f6f6;
}

#header .head .user a:hover {
  color: #000000;
  box-shadow: 0 1px #000000;
}

#header .subnav {
  list-style-type: none;
}

#nav {
  float: right;
  padding-right: 50px;
  font-weight: bold;
}

.nav > li {
  display: inline-block;
}

.nav li {
  position: relative;
}

.nav > li > a {
  color: #f6f6f6;
  text-transform: uppercase;
}

.nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

.nav li:hover .subnav {
  display: block;
}

/*.nav .subnav li:hover a,*/
.nav > li:hover > a {
  color: #000000;
  background-color: #dddddd;
}

.menuitem.active {
  color: #000000;
  background-color: #dddddd;
}

/*.nav .subnav {*/
/*  display: none;*/
/*  position: absolute;*/
/*  top: 100%;*/
/*  left: 0;*/
/*  z-index: 1;*/
/*  min-width: 200px;*/
/*  font-size: 15px;*/
/*  background-color: #0FA187;*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*}*/

.nav .subnav a {
  list-style-type: none;
  color: #f6f6f6;
}


/*
    Phần footer
 */
#footer {
  padding: 40px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0FA187;
  color: #f6f6f6;
  font-size: 15px;
  height: 250px;
}

#footer a {
  text-decoration: none;
}

#footer .list-menu  a:hover{
  color:black;
}

#footer .branchCty .branch {
  padding: 5px;
  width: 100%;
}

#footer .branch a{
  color: #fff;
}

#footer .branch a:hover{
  color:black;
}

#footer .nameCty .span-title {
  margin-left: 125px;
  position: absolute;
  right: 62%;
  margin-top: 35px;
}
