body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 24px;
    background-color: #0FA187;
    color: #fff;
}

.clearfix {
    clear: both;
}

p {
    margin: 0;
    padding: 0;
}

#main-container {
    margin: 50px auto;
    width: 1200px;
}

#info {
    width: 620px;
    margin: 0 auto;
}

.items {
    margin: 24px 0;
}

.form-control, .form-select, .form-check {
    width: 350px;
}

.form-check-input {
    margin-top: 10px;
}
.form-check-label {
    margin-top: 5px;
}

.form-check-input:checked {
    background-color: #ED1212;
    border-color: #ED1212;
}
#cancel {
    width: 100px;
    border: 2px solid #F6F6F6;
    color: #F6F6F6;
}
#confirm {
    width: 120px;
    margin-left: 10px;
    background-color: #ED1212;
    border: 2px solid #ED1212;
    font-weight: bold;
}